.header {
  padding-top: 56px;
  margin-bottom: 80px;

  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 1023px) {
    padding-top: 30px;
    margin-bottom: 60px;
  }
}
